* {
    box-sizing: border-box;
          }
    body {
              background-color:#c6538c;
          }
  h1 {
          font-size:50px;
          text-shadow:2px 2px 5px  #ff33cc;
          color:aliceblue;
          text-align: center;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .column img {
    margin-top: 12px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  ul.breadcrumb {
    padding: 10px 16px;
   text-align:center;
   
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 20px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: whitesmoke;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: white;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: darkolivegreen;
    text-decoration: underline;
  }