body {
    background-color: #f2d9e6;
    font-family: Arial, Helvetica, sans-serif;
}

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #af5793;
  border-radius: 16px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #cb0f70;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:700px;
}

input[type=submit]:hover {
  background-color: #840f36;
}

.container {
  border-radius: 12px;
  background-color: #7d5a75;
  padding: 20px;
}


h1 {
font-size:60px;
text-shadow:2px 2px 5px  #900b61;
color:aliceblue;
text-align: center;
}
.img1 {
margin-left: 665px;;
}
h2 {
font-size:50px;
text-shadow:2px 2px 5px  #3a063d;
color:aliceblue;
text-align: center;
}
h3 {
font-size:40px;
text-shadow:2px 2px 5px  #231a24;
color:aliceblue;
text-align: center;
}
.img2 {
margin-left: 720px;
width:90px;
}
ul.breadcrumb {
  padding: 10px 16px;
 text-align:center;
 
}
ul.breadcrumb li {
  display: inline;
  font-size: 20px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: whitesmoke;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: darkolivegreen;
  text-decoration: underline;
}