body {
    background-color: #a5173f;
    }
    
    h1 {
    font-size:60px;
    text-shadow:2px 2px 5px  #1b9550;
    color:aliceblue;
    text-align: center;;
    }
    .img1 {
    margin-left: 680px;;
    }
    .img2 {
                width:800px; 
                float:right;
                margin-right: 30px;
                margin-top: 40px;
            }
    
         .bg {
    background-image: url("cakeshop%20images/doughnuts-donuts.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
            }
    
            div.gallery {
      border: 1px solid transparent;
      border-radius: 16px;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
      border-radius: 20px;
    
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
      font-size: 30px;;
      color:aliceblue;
    }
    * {
      box-sizing: border-box;
    }
    
    .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
    }
    
    @media only screen and (max-width: 700px) {
      .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    }
    
    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
    ul.breadcrumb {
      padding: 10px 16px;
     text-align:center;
     
    }
    ul.breadcrumb li {
      display: inline;
      font-size: 20px;
    }
    ul.breadcrumb li+li:before {
      padding: 8px;
      color: whitesmoke;
      content: "/\00a0";
    }
    ul.breadcrumb li a {
      color: white;
      text-decoration: none;
    }
    ul.breadcrumb li a:hover {
      color: darkolivegreen;
      text-decoration: underline;
    }